.top-bar {

    a {
        &.Phone {
            padding: 0 19px 0 24px;

            i {
                transform: rotate(0deg);
                margin-left: 5px;
                margin-right: 0;
            }
        }
    }
}

.sec-bar {
    .menu {

        @media (max-width: 577px) {
            right: auto;
            left: 15px;
        }
    }



    .cart {

        .txt {
            font-size: 13px;
            margin-left: 5px;
            margin-right: 0;

        }

        .menu-btn {
            @media(max-width: 577px) {
                margin-left: 20px;
                margin-right: 0;
            }

        }

        .count {
            left: 15px;
            right: auto;
        }

    }
}

.sec-bar {
    .search {
        width: 700px;
        height: 48px;
        margin: 0 33px 0 52px;

        @media (min-width: 992px) and (max-width: 1199px) {
            width: 515px;
            margin: 0;
        }

        @media (max-width: 577px) {
            width: 100%;
            margin: 0;
        }
    }

    .search-input {
        padding: 0 50px 0 30px;
    }
}

.search-btn {
    right: 25px;
    left: auto;
}


.product {

    margin-right: 21px;
    margin-left: 0;

    @media (max-width: 1199px) {
        margin-right: 20px;
        margin-left: 0;
    }

    @media (max-width: 577px) {
        margin-left: 0;
        margin-right: 25px;
    }

    @media (max-width: 479px) {
        margin-left: 0;
        margin-right: 10px;

    }

    &:nth-child(6n) {
        @media (min-width: 1200px) {
            margin-left: 0;
            margin-right: 0;
        }

        @media (max-width: 1199px) {
            margin-right: 20px;
            margin-left: 0;
        }

        @media (max-width: 577px) {
            margin-left: 0;
            margin-right: 10px;

        }
    }

    &:nth-child(5n) {
        @media (min-width: 992px) and (max-width: 1199px) {
            margin-left: 0;
            margin-right: 0;
        }

        @media (max-width: 991px) {
            margin-right: 20px;
            margin-left: 0;
        }

        @media (max-width: 577px) {
            margin-left: 0;
            margin-right: 10px;
        }
    }

    &:nth-child(2n) {
        @media (max-width: 577px) {
            margin-left: 0;
            margin-right: 0;
        }
    }


    .sale {
        right: auto;
        left: 9px;
    }


    .product-price {
        .old-price {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.link-li {
    margin-left: 0;
    margin-right: 26px;

    @media (min-width: 992px) and (max-width: 1199px) {
        margin-right: 17px;
        margin-left: 0;
    }

    @media (max-width: 991px) {
        margin-left: 0;
        margin-right: 0
    }

    &:last-child {
        margin-left: 0;
        margin-right: 0;
    }
}

.copy {
    .copyrights {

        a {
            margin-left: 6px;
            margin-right: 0;
        }
    }
}

.xs-nav {

    .accordion {
        &:after {
            margin-right: 25px;

            float: right;
        }
    }

    .panel {
        width: 100%;
    }

}

.main-xs-nav {
    right: auto;
    left: 0;

    .links {
        padding-right: 0;
        padding-left: 25px;
    }




    .closebtn {
        left: auto;
        margin-left: 0;
        right: 0px;
        margin-right: 25px;
    }

    .lang {
        left: 0px;
        right: auto;
        margin-left: 25px;
        margin-right: 0;
        line-height: 21px;
        align-items: flex-start;
    }

    a {

        &.Phone {

            padding: 0 19px 0 24px;

            i {
                transform: rotate(0);
                margin-left: 5px;
                margin-right: 0;
            }
        }
    }

}

@keyframes inscreen {
    0% {
        left: -100%;
        right: auto;
    }

    100% {
        left: 0;
        right: auto;
    }
}

.inscreen {
    animation: inscreen 0.4s ease forwards;
}

@keyframes outscreen {
    0% {
        left: 0;
        right: auto;
    }

    100% {
        left: -100%;
        right: auto;
    }
}

.outscreen {
    animation: outscreen 0.5s ease forwards;
}