body {
    font-family: roman;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

}